#!/usr/bin/make -f
# -*- makefile -*-
export DH_OPTIONS

PYTHON3_DEPENDS = -Vpython3:Depends="python3:any (>= 3.0), python3, python3-pkg-resources, python3-tk, python3-pmw, python3-lxml"
PYTHON_DEPENDS = -Vpython:Depends="python:any (<< 2.8), python:any (>= 2.7), python, python-pkg-resources, python-tk, python-pmw, python-lxml"
PYTHON2_VERSION:=$(shell python2 2>&1 --version | awk '{split($$2,v,"."); printf("%d.%d",v[1],v[2]);}')
PYTHON3_VERSION:=$(shell python3 2>&1 --version | awk '{split($$2,v,"."); printf("%d.%d",v[1],v[2]);}')

override_dh_gencontrol:
	dh_gencontrol -- $(PYTHON_DEPENDS) $(PYTHON3_DEPENDS)

override_dh_auto_install:
	dh_auto_install -- PYTHON=python3
	mv debian/tmp/usr/bin/pynodestatviz debian/tmp/usr/bin/pynodestatviz-$(PYTHON3_VERSION)
	cd debian/tmp/usr/bin; ln -s pynodestatviz-$(PYTHON3_VERSION) pynodestatviz-3
	dh_auto_install -- PYTHON=python2
	mv debian/tmp/usr/bin/pynodestatviz debian/tmp/usr/bin/pynodestatviz-$(PYTHON2_VERSION)
	cd debian/tmp/usr/bin; ln -s pynodestatviz-$(PYTHON2_VERSION) pynodestatviz-2
	cd debian/tmp/usr/bin; ln -s pynodestatviz-2 pynodestatviz

%:
	dh $@ --with python2,python3
